.my-header {
    padding-bottom: 15px;
    padding-top: 15px;
    background-color: #ffe9e4;
    font-size: 15px;
}

.c-element {
    margin: 10px;
}

.adv {
    margin-bottom: 10px;
    margin-top: 10px;
    padding-top: 4px;
    border: 1px solid black;
    border-radius: 5px;
}

.full-adv {
    margin-top: 50px;
    margin-left: 20px;
    padding-bottom: 15px;
    padding-top: 15px;
    background-color: #ffe9e4;
}

input {
    width: 20ch;
}